[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
tweepy = "*"
pyspark = "==2.4.5"
pykafka = "*"
elasticsearch = "*"

[requires]
python_version = "3.7"
